
body
{ background-image: radial-gradient(ellipse at center, #D3D0D0, #616161);
text-align: center;
font-family:Lucida Calligraphy, Georgia, sans-serif;
color:#060606;
font-weight:bold;
font-size:20pt;

}
h1{
  font-family:Lucida Calligraphy, Georgia, sans-serif;
  font-weight:bold;
}

h3{
  font-family:Lucida Calligraphy, Georgia, sans-serif;
  font-weight:bold;
}

a{
    text-decoration: none;
    color:black;
}

.message{
font-weight:normal;
font-size:12pt;
margin-bottom:0.7cm;
}

.rond1{
margin-left: auto;
    margin-right: auto;
    margin-bottom:auto;
    margin-top:20px;
    text-align: center;
    line-height: 210px;
    width:210px;
    height:210px;
    background-image: radial-gradient(ellipse at center, #D11212, #811212);
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    border-radius:100px;
}


.rond1:hover{
    background-position:bottom;
    border:solid 2px #3C0106;
    color:#3C0106;

}

.rond2{
margin-left: auto;
    margin-right: auto;
    margin-bottom:auto;
    margin-top:10px;
    text-align: center;
    line-height: 170px;
    width:170px;
    height:170px;
    background-image: radial-gradient(ellipse at center, #04C1DE, #028CA1);
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    border-radius:100px;
}
.rond2:hover{
    background-position:bottom;
    border:solid 2px #036170;
    color:#036170;

}

.contour1{
margin-left: auto;
    margin-right: auto;
    margin-bottom:1.5cm;
    margin-top:auto;
text-align: center;
    width:230px;
    height:230px;
    background-image: radial-gradient(ellipse at center, #545555, #383838);
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    border-radius:150px;
}

.contour2{
margin-left: auto;
    margin-right: auto;
    margin-bottom:1cm;
    margin-top:auto;
text-align: center;
width:190px;
    height:190px;
    background-image: radial-gradient(ellipse at center, #545555, #383838);
    -webkit-border-radius:100px;
    -moz-border-radius:100px;
    -o-border-radius:100px;
    border-radius:150px;
}
