.header{
  background-color: #DDD;
  margin: -20px -15px 20px -15px ;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.headerMainTitle{
  font-family: fantasy;
}

#map {
  min-height:200px;
  min-width:400px;

}
