h1{
	text-align: center;
	color: #B22222;
	text-decoration: none;
	font-family: Comic sans MS;
}

#chat{
	border-width: 1px;
	margin: 3%;
}

#inputMsg{
	width: 100%;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

#scrollable{
    float: left;
    height: 200px;/*Modifier pour taille du chat*/
    width: 95%;
    overflow-y: auto;
    border: 1px solid black;
	  margin: 3%;
  	font-family: Liberation;
	 background-color: white;
	  border-radius: 20px;
	 font-size: 100%;
	
}

ul{
	list-style: none;
}

.button{
	display: none;
}

body {
	background-color: #cdcdb1;
	
}