body{
    margin:0;
    overflow:hidden;
}
.wrapper{
    transform: rotate(270deg);
    transform-origin:top right;
    
    position:absolute;
    right:100vw;
	
    height:100vw;
    width:100vh;
    
    background-color:#000;
    color:#fff;

    overflow-x:scroll;
	
}
.revert{
    transform: rotate(-270deg);
}